<div style="width: 60%; display: table; margin: auto; margin-top: 2%">
	<h4>Character Data:</h4>

	<select ng-model="character" style="margin: 2%; background-color: #ffffff; width: 35%;" class="form-control" name="vocation" ng-options="character.name for character in characters" ng-disabled="edition">
		<option value="">Select the character</option>
	</select>
	   <label style="color: red; font-size: 85%" ng-if="characters.length == 0">There is no characters in your account!</label><br/>
	<div style="margin-top: 5%; border-style: solid;border-radius: 3%;;
    border-width: 1px;
    box-shadow: 10px 10px 5px #888888; height: 20%; display: table; padding-bottom: 5%" ng-if="character">
	<table class="table" style="width: 95%; margin: 2%; table-layout: fixed;
  border-collapse: collapse;" >
		<tr>
			<th ng-click="setOrder('name')" style="width: 16%">Name</th>
			<th ng-click="setOrder('level')" style="width: 10%">Level</th>
			<th ng-click="setOrder('vocation')" style="width: 13%">Vocation</th>
			<th ng-click="setOrder('stamina')" style="width: 10%">Stamina</th>

			<th style="width: 20%"></th>
		</tr>
	<!-- 	<tr ng-repeat="character in characters | orderBy: field : direction"> -->
		<tr>
			<td ng-if="!edition">{{character.name}}</td>
			<td ng-if="edition"><input style="width: 100%" type="text" ng-model="character.name" name="name" placeholder="Name" ng-required="true"/></td>
			<td ng-if="!edition">{{character.level}}</td>
			<td ng-if="edition"><input style="width: 100%" type="text" ng-model="character.level" name="level" placeholder="Level" ng-required="true"/></td>
			<td ng-if="!edition">{{character.vocation}}</td>
			<td ng-if="edition"><select ng-model="newcharacter.vocation" style="margin: 2%; background-color: #ffffff; width: 45%; float: right;" class="form-control" name="vocation" ng-options="vocation for vocation in vocations">
		<option value="">Select the vocation</option>
	</select></td>
			<td ng-if="!edition">{{character.stamina}}</td>
			<td ng-if="edition"><input style="width: 100%" type="text" ng-model="character.stamina" name="stamina" placeholder="Stamina" ng-required="true"/></td>

			<td>
			<button class="btn btn-default btn-sm" ng-click="updateCharacter(character)" ng-disabled="!edition">Update</button>
			<button class="btn btn-info btn-sm" ng-click="editCharacter(character)">Edit</button>
			<button class="btn btn-danger btn-sm" ng-click="eraseCharacter(character)">Delete</button></td>
		</tr>
	</table>
	</div>			


<br/>
</div>