<div style="background-color: rgba(164,165,165,0.4);width: 80%;margin-top: 5%; border-style: solid;border-radius: 3%;;
    border-width: 1px;
    box-shadow: 10px 10px 5px #888888; height: 20%; display: table; padding: 5%; margin: auto;margin-top: 5%">
<label>Profile edition - User: {{user.username}}</label><br/>
<div style="text-align: center;width: 40%; margin: auto;">
<input style="display: table;margin: 0.5%;width: 40%" type="text" ng-model="user.name" name="name" placeholder="Name" ng-required="true" />
<input style="display: table;margin: 0.5%;width: 40%" type="text" ng-model="user.email" name="name" placeholder="E-mail" ng-required="true" />
<input style="display: table;margin: 0.5%;width: 40%" type="text" ng-model="user.oldPassword" name="name" placeholder="Password" ng-required="true" />
<input style="display: table;margin: 0.5%;width: 40%" type="text" ng-model="user.newPassword" name="name" placeholder="New Password" ng-required="true" />
<input style="display: table;margin: 0.5%;width: 40%" type="text" ng-model="user.newPasswordConf" name="name" placeholder="Confirm new Password" ng-required="true" />
<input style="display: table;margin: 0.5%;width: 40%" type="text" ng-model="user.email" name="name" placeholder="E-mail" ng-required="true" />
</div>
</div>